@font-face {
    font-family: 'monofonto';
    src: url();
    src: url('.fonts/monofonto/monofonto.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Young';
    src: url('.fonts/young/Young.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
