html {
  background-color: black;
}

h1 {
  font-family: 'monofonto';
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  font-variant: small-caps;
  color: gray;
  line-height: 1.45em;
}

h2 {
  font-family: 'Young';
  font-weight: bold;
  word-spacing: 2em;
  font-size: 28px;
  text-align: center;
  line-height: 2em;
}

body {
  padding: 0;
  margin: 0;
}

.main-container {
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
}

.img, .img2 {
  position:relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.img {
  background-image: url("./imgs/fire.gif");
  min-height: 150vh;
  min-width: 100%;
}

.img2 {
  background-image: url("./imgs/spongebob_fire.gif");
  min-height: 135vh;
  min-width: 100%;
}

.title {
  text-align: center;
  border-style: solid;
  float: none;
  border-width: 15px;
  border-color: #594346;
  width: 50%;
  height: auto;
  position: relative;
  align-self: center;
  left: 0;
  background-color:#8D2F23;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  z-index: 1;
}

.nav {
  text-align: center;
  border-style: solid;
  border-width: 15px;
  border-color: #594346;
  width: 91%;
  height: auto;
  float: left;
  display: inline-block;
  background-color: black;
  font-size: 20pt;
  letter-spacing: 0.125em;
  display: inline-block;
  text-align: center;
  word-spacing: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  z-index: 1;
}

.nav a {
  color: gold;
  text-decoration: none;
  text-align: center;
}

.nav a:hover {
  background-color: #A22108;
  color: darkorange;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: tomato;
    font-size: 27px;
    text-align: center;
    min-width: 180px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    list-style: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: #A22108;
}

.welcoming {
  font-family: sans-serif;
  text-transform: capitalize;
  text-align: center;
  background-color: #561E18;
  color: black;
  border-style: solid;
  border-width: 15px;
  border-color: gray;
  width: 91%;
  height: auto;
  padding-left: 40px;
  padding-right: 40px;
}

@font-face {
    font-family: 'monofonto';
    src: url('./fonts/monofonto.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Young';
    src: url('./fonts/Young.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-device-width: 1270px) {
                                .img, .img2 {
                                  background-attachment: scroll;}
                              }
