html {
  background-color: #212027;
}

body {
  font-size: 14pt;
  font-family: Young;
  color: black;
  line-height: 1.45em;
  letter-spacing: 6px;
  word-spacing: 3px;
}

p {
  text-indent: 1.5em;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: monofonto;
  font-weight: bold;
  font-size: 41px;
  color: gray;
  font-variant: small-caps;
  letter-spacing: 7px;
  word-spacing: 5px;
  line-height: 1em;
}

h3 {
  font-family: young;
  font-weight: bold;
  font-size: 35px;
  font-variant: small-caps;
  letter-spacing: 7px;
  word-spacing: 10px;
  line-height: 1.8em;
}

.main-container {
  flex-wrap: wrap;
  position: relative;
  width: auto;
  height: auto;
  margin-left: 30px;
  padding-left: 75px;
  margin-right: 30px;
}

.title {
  text-align: center;
  line-height: 1.35em;
  border-style: solid;
  border-width: 5px;
  border-color: #594346;
  width: 35%;
  height: 200px;
  float: left;
  position: relative;
  background-color:#8D2F23;
  text-decoration: none;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  z-index: 1;
}

.nav {
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #594346;
  width: 55%;
  height: 200px;
  float: left;
  position: relative;
  display: inline-block;
  background-color: black;
  font-size: 20pt;
  letter-spacing: 0.125em;
  display: inline-block;
  text-align: center;
  word-spacing: 15px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  z-index: 1;
}

.nav a {
  color: gold;
  text-decoration: none;
  text-align: center;
}

.nav a:hover {
  background-color: #A22108;
  color: darkorange;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: tomato;
    font-size: 27px;
    min-width: 170px;
    z-index: 1;
}

.dropdown-content a ul li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    list-style: none;
    display: block;
}

.dropdown-content a ul li:hover {
  background-color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: coral;
}

.content {
  border-style: solid;
  border-width: 5px;
  border-color: #594346;
  width: 90%;
  height: auto;
  background-color: #561E18;
  color: black;
  text-align: justify;
  float: left;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 20px;
  z-index: 1;
}

.footer {
  font-size: 10pt;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #594346;
  width: 90%;
  height: auto;
  background-color: #561E18;
  float: left;
  padding-left: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: 1;
}

.text-element:first-letter {
  color: orangered;
  font-size: 19pt;
}

@media screen and (max-device-width: 750px) {
                                       .title {
                                                    width: 30%;
                                                    height: auto;
                                                    order: 1;}
                                       .nav {
                                                    width: 60%;
                                                    height: auto;
                                                    order: 1;}
                                       .content {
                                                    width: 90%;
                                                    height: auto;
                                                    order: 1;}
                                      .footer {
                                                    width: 90%;
                                                    height: auto;
                                                    order: 1;}
